body {
  background-color: rgba(226, 218, 194, 0.822);
  font-family: Georgia, "Times New Roman", Times, serif;
}

.botones, footer .btn, .medio .contenedorProductos .card .btn, nav .buscador .btn {
  color: aliceblue;
  text-align: center;
  background-color: rgba(140, 123, 153, 0.863);
}

.botones2:hover, footer .redes a:hover, footer .btn:hover, .contenedorInicioSesion .btn:hover, .contenedorPaginaProductos .contenedorPaginacion ul .page-item:hover, nav .nav-item .nav-link:hover, nav .buscador .btn:hover {
  background-color: rgba(226, 218, 194, 0.822);
  color: black;
}

nav {
  background-color: aliceblue;
  padding: 5px;
}
nav .buscador {
  text-align: start;
  padding-top: 25px;
}
nav .buscador .btn {
  width: min-content;
}
nav .nav-item {
  text-align: start;
  padding-top: 25px;
}
nav .nav-item .nav-link {
  padding-left: 2vw;
}
nav .kairos {
  padding: 10px;
  text-align: center;
}
nav .registrarseNav {
  padding-top: 20px;
  text-align: end;
}

header {
  margin: 2vw;
}
header .tituloProductos {
  background-color: rgba(140, 123, 153, 0.863);
  color: aliceblue;
  padding: 1vw;
  font-style: italic;
  text-align: center;
  border-color: aliceblue;
  border-style: ridge;
}

.medio {
  margin: 5%;
  padding-bottom: 10%;
  background-color: rgba(140, 123, 153, 0.863);
  color: aliceblue;
  border-color: aliceblue;
  border-style: ridge;
}
.medio .contenedorMedio {
  margin: 6%;
}
.medio .contenedorMedio .eslogan {
  text-align: center;
  padding: 5%;
  display: flex;
  justify-content: space-evenly;
}
.medio .contenedorMedio .desarrollo {
  text-align: center;
  padding: 5%;
  display: flex;
  justify-content: space-evenly;
}
.medio .contenedorProductos {
  background-color: rgb(158, 182, 146);
  margin: 3%;
  padding: 3%;
  border-color: aliceblue;
  border-style: ridge;
}
.medio .contenedorProductos .subtitulo {
  text-align: center;
  padding: 2vw;
}
.medio .contenedorProductos .card {
  margin: 2px;
  color: black;
  text-align: center;
}
/* PAGINA PRODUCTOS */
.contenedorPaginaProductos {
  background-color: rgba(140, 123, 153, 0.863);
  padding: 4vw;
  margin: 2vw;
  border-color: aliceblue;
  border-style: ridge;
}
.contenedorPaginaProductos .contenedorGaia {
  margin: 2vw;
  background-color: rgb(158, 182, 146);
  padding: 3vw;
  border-color: aliceblue;
  border-style: ridge;
}
.contenedorPaginaProductos .contenedorGaia .tituloGaia {
  text-align: center;
  background-color: aliceblue;
  color: rgb(37, 37, 37);
  margin-bottom: 2vw;
}
.contenedorPaginaProductos .contenedorGaia .card {
  margin: 2px;
  color: black;
}
.contenedorPaginaProductos .contenedorGaia .gaiaDesarrollo {
  background-color: aliceblue;
  color: black;
  margin: 2vw;
  padding: 2vw;
}
.contenedorPaginaProductos .contenedorGaia .opinionGaia {
  margin: 2vw;
}
.contenedorPaginaProductos .contenedorHamburguesas {
  margin: 2vw;
  background-color: rgb(158, 182, 146);
  padding: 3vw;
  border-color: aliceblue;
  border-style: ridge;
}
.contenedorPaginaProductos .contenedorHamburguesas .tituloHamburguesas {
  text-align: center;
  background-color: aliceblue;
  color: rgb(37, 37, 37);
  margin-bottom: 2vw;
}
.contenedorPaginaProductos .contenedorHamburguesas .card {
  margin: 2px;
  color: black;
}
.contenedorPaginaProductos .contenedorHamburguesas .hamburguesasDesarrollo {
  background-color: aliceblue;
  color: black;
  margin: 2vw;
  padding: 2vw;
}
.contenedorPaginaProductos .contenedorHamburguesas .opinionHamburguesas {
  margin: 2vw;
}
.contenedorPaginaProductos .contenedorLenceria {
  margin: 2vw;
  background-color: rgb(158, 182, 146);
  padding: 3vw;
  border-color: aliceblue;
  border-style: ridge;
}
.contenedorPaginaProductos .contenedorLenceria .tituloLenceria {
  text-align: center;
  background-color: aliceblue;
  color: rgb(37, 37, 37);
  margin-bottom: 2vw;
}
.contenedorPaginaProductos .contenedorLenceria .card {
  margin: 2px;
  color: black;
}
.contenedorPaginaProductos .contenedorLenceria .lenceriaDesarrollo {
  background-color: aliceblue;
  color: black;
  margin: 2vw;
  padding: 2vw;
}
.contenedorPaginaProductos .contenedorLenceria .opinionLenceria {
  margin: 2vw;
}
.contenedorPaginaProductos .contenedorAlfareria {
  margin: 2vw;
  background-color: rgb(158, 182, 146);
  padding: 3vw;
  border-color: aliceblue;
  border-style: ridge;
}
.contenedorPaginaProductos .contenedorAlfareria .tituloAlfareria {
  text-align: center;
  background-color: aliceblue;
  color: rgb(37, 37, 37);
  margin-bottom: 2vw;
}
.contenedorPaginaProductos .contenedorAlfareria .card {
  margin: 2px;
  color: black;
}
.contenedorPaginaProductos .contenedorAlfareria .alfareriaDesarrollo {
  background-color: aliceblue;
  color: black;
  margin: 2vw;
  padding: 2vw;
}
.contenedorPaginaProductos .contenedorAlfareria .opinionAlfareria {
  margin: 2vw;
}
.contenedorPaginaProductos .contenedorRopa {
  margin: 2vw;
  background-color: rgb(158, 182, 146);
  padding: 3vw;
  border-color: aliceblue;
  border-style: ridge;
}
.contenedorPaginaProductos .contenedorRopa .tituloRopa {
  text-align: center;
  background-color: aliceblue;
  color: rgb(37, 37, 37);
  margin-bottom: 2vw;
}
.contenedorPaginaProductos .contenedorRopa .card {
  margin: 2px;
  color: black;
}
.contenedorPaginaProductos .contenedorRopa .ropaDesarrollo {
  background-color: aliceblue;
  color: black;
  margin: 2vw;
  padding: 2vw;
}
.contenedorPaginaProductos .contenedorRopa .opinionRopa {
  margin: 2vw;
}
.contenedorPaginaProductos .contenedorTelas {
  margin: 2vw;
  background-color: rgb(158, 182, 146);
  padding: 3vw;
  border-color: aliceblue;
  border-style: ridge;
}
.contenedorPaginaProductos .contenedorTelas .tituloTelas {
  text-align: center;
  background-color: aliceblue;
  color: rgb(37, 37, 37);
  margin-bottom: 2vw;
}
.contenedorPaginaProductos .contenedorTelas .card {
  margin: 2px;
  color: black;
}
.contenedorPaginaProductos .contenedorTelas .telasDesarrollo {
  background-color: aliceblue;
  color: black;
  margin: 2vw;
  padding: 2vw;
}
.contenedorPaginaProductos .contenedorTelas .opinionTelas {
  margin: 2vw;
}
.contenedorPaginaProductos .contenedorPaginacion {
  margin: 2vw;
  color: aliceblue;
  display: flex;
  justify-content: center;
}
.contenedorPaginaProductos .contenedorPaginacion ul {
  padding-left: 2vw;
  padding-right: 2vw;
  border-style: double;
  color: aliceblue;
  display: flex;
  justify-content: space-evenly;
}
.contenedorPaginaProductos .contenedorPaginacion ul .page-item {
  color: aliceblue;
  padding: 1vw;
  margin: 1vw;
  list-style: none;
}

/* PAGINA REGISTRARSE */
.contenedorInicioSesion {
  background-color: rgba(140, 123, 153, 0.863);
  padding: 4vw;
  margin: 2vw;
  border-style: double;
  color: aliceblue;
}
.contenedorInicioSesion .btn {
  background-color: rgb(158, 182, 146);
  color: aliceblue;
  border-color: black;
}

.productos {
  text-align: center;
  padding: 5%;
  display: flex;
  justify-content: space-evenly;
}

.redes img {
  width: 25px;
}

footer {
  background-color: rgb(158, 182, 146);
  padding: 2%;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .kairos, .registrarseNav, .eslogan, .desarrollo, .redes {
    display: none;
  }
}