.redes img{
    width: 25px;
}

footer{
    background-color: $paletaVer;
    padding: 2%;
    text-align: center;
    
    .btn{
        @extend .botones;
        @extend .botones2;
    }

    .redes{
        a{
            @extend .botones2;
        }
    }
}
