.redes img{
    width: 25px;
}

footer{
    background-color: $paletaVer;
    padding: 2%;
    text-align: center;
    
    .btn{
        background-color:$paletaVio;
        color: aliceblue;
    
        text-align: center;
    }
}
