
.medio{
    margin: 5%;
    padding-bottom: 10%;
    background-color: $paletaVio;
    color: aliceblue;
    @include bordes;

    .contenedorMedio{
        margin: 6%;
        .eslogan{
            @include cajas;
        }
        .desarrollo{
            @include cajas;;
        }

    }
    .contenedorProductos{
        background-color: $paletaVer;
        margin: 3%;
        padding: 3%;
        @include bordes;

        .subtitulo{
            @include titulosProductos;
        }
        .card-uno{
            @include cardPaginaProductos;
            @include cardPaginaPrincipal;
            background-image: url(../imagenes-de-productos/productoLenceria.jpg);
        }
        .card-dos{
            @include cardPaginaProductos;
            @include cardPaginaPrincipal;
            background-image: url(../imagenes-de-productos/productoHamburguesas.jpg);
        }
        .card-tres{
            @include cardPaginaProductos;
            @include cardPaginaPrincipal;
            background-image: url(../imagenes-de-productos/productoDecoracion.jpg);
        }
        .card-cuatro{
            @include cardPaginaProductos;
            @include cardPaginaPrincipal;
            background-image: url(../imagenes-de-productos/productoAlfareria.jpg);

        }
    }

}

/* PAGINA PRODUCTOS */

.contenedorPaginaProductos{
    background-color: $paletaVio;
    padding: 4vw;
    margin: 2vw;
    @include bordes;
   
    .contenedorGaia{
        @include contenedoresProductos;
        @include bordes;
        justify-items: center;

        .tituloGaia{
            @include titulosProductos;
        }
        .card{
            @include cardPaginaProductos;
            @include listaBotones;
        }
        .gaiaDesarrollo{
            @include estiloDesarrolloProductos;
        }
        .opinionGaia{
            @include opinionProductos;
        }

    }
    .contenedorHamburguesas{
        @include contenedoresProductos;
        @include bordes;
        justify-items: center;

        .tituloHamburguesas{
            @include titulosProductos;
        }
        .card{
            @include cardPaginaProductos;
            @include listaBotones;
        }
        .hamburguesasDesarrollo{
            @include estiloDesarrolloProductos;
        }
        .opinionHamburguesas{
            @include opinionProductos;
        }
    }
    .contenedorLenceria{
        @include contenedoresProductos;
        @include bordes;
        justify-items: center;

        .tituloLenceria{
            @include titulosProductos;
        }
        .card{
            @include cardPaginaProductos;
            @include listaBotones;
        }
        .lenceriaDesarrollo{
            @include estiloDesarrolloProductos;
        }
        .opinionLenceria{
            @include opinionProductos;
        }

    }
    .contenedorAlfareria{
        @include contenedoresProductos;
        @include bordes;
        justify-items: center;

        .tituloAlfareria{
            @include titulosProductos;
        }
        .card{
            @include cardPaginaProductos;
            @include listaBotones;
        }
        .alfareriaDesarrollo{
            @include estiloDesarrolloProductos;
        }
        .opinionAlfareria{
            @include opinionProductos;
        }

    }
    .contenedorRopa{
        @include contenedoresProductos;
        @include bordes;
        justify-items: center;

        .tituloRopa{
            @include titulosProductos;
        }
        .card{
            @include cardPaginaProductos;
            @include listaBotones;
        }
        .ropaDesarrollo{
            @include estiloDesarrolloProductos;
        }
        .opinionRopa{
            @include opinionProductos;
        }

    }
    .contenedorTelas{
        @include contenedoresProductos;
        @include bordes;
        justify-items: center;

        .tituloTelas{
            @include titulosProductos;
        }
        .card{
            @include cardPaginaProductos;
            @include listaBotones;
        }
        .telasDesarrollo{
            @include estiloDesarrolloProductos;
        }
        .opinionTelas{
            @include opinionProductos;
        }

    }
    .contenedorPaginacion{
        margin: 2vw;
        color: aliceblue;
        display: flex;
        justify-content: center;
        
        ul{
            padding-left: 2vw;
            padding-right: 2vw;
            @include bordes2;

            display: flex;
            justify-content: space-evenly;

            .page-item{
                color: aliceblue;
                padding: 1vw;
                margin: 1vw;
                list-style: none;
                @extend .botones2;
            }
        }
    }
}

/* PAGINA REGISTRARSE */

.contenedorInicioSesion{
    background-color: $paletaVio;
    padding: 4vw;
    margin: 2vw;
    @include bordes2;

    .btn{
        background-color: $paletaVer;
        color: aliceblue;
        border-color: black;
        @extend .botones2;
    }
}

.productos{
    text-align: center;
    padding: 5%;
    display: flex;
    justify-content: space-evenly;
}

