
nav{
    background-color: aliceblue;
    padding: 5px;

    .buscador{
        text-align: start;
        padding-top: 25px;
        
        .btn{
            width: min-content;
            @extend .botones;
            @extend .botones2;
        }
    
    }
    .nav-item{
        text-align: start;
        padding-top: 25px;
        .nav-link{
            padding-left: 2vw;
            @extend .botones2;
        }
    }
    .kairos{
        padding: 10px;
        text-align: center ;
    }
    .registrarseNav{
        padding-top: 20px;
        text-align: end;
    }
}